<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <form
      method="POST"
      th:action="@{/register}"
      action="#"
      th:object="${registration}"
    >
      Name:
      <input type="text" data-th-field="*{name}" />
      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
      <br />
      Age:
      <input type="number" data-th-field="*{age}" />
      <br />
      <input type="checkbox" value="Fly drone" data-th-field="*{hobbies}" >Fly drone</input>
      <input type="checkbox" value="Repair drone" data-th-field="*{hobbies}" >
      Repair drone</input>
      <input
        type="checkbox"
        value="Shop for drone parts"
        data-th-field="*{hobbies}"
      >Shop for drone parts</input>
      <br />
      <input type="radio" value="1" data-th-field="*{isMarried}">isMarried</input>
      <br />
      <input type="date" data-th-field="*{dateOfBirth}" />
      <br />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
